<div class="footer bg-dark">
    <div class="container">
       <div class="row">
           <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mt-3">
                <img src="../../assets/images/Delmon Poultry Logo.svg" alt="">
                <div class="container">
                    <div class="mt-5 d-flex">
                        <h3>Categories</h3>
                        <div class="footer-left-content text-center px-3">
                         <p class="pl-2">Fresh</p>
                         <p class="pl-2">Frozen</p>
                         <p class="pl-2">Marinated</p>
                         <p class="pl-2">Category4</p>
                         <p class="pl-2">Category5</p>
                         <p class="pl-2">Combos</p>
                        </div>
                    </div>
                    <div class="d-flex mt-4">
                        <h3>Support</h3>
                        <div class="footer-left-content text-center px-3">
                           <p class="pl-3">About Us</p>
                           <p class="pl-3">Privacy and Policy</p>
                           <p class="pl-3">Terms and Conditions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 footer-right">
                <div class="container">
                    <div class="mt-5">
                        <h3 class="pb-3">Contact us</h3>
                        <p class="pb-1">Delmon Poultry Company (B.S.C) <br>Hamala - Kingdom of Bahrain, PO. Box. 20535</p>
                    </div>
    
                    <div class="row">
    
                        <div class="col">
                            <h3>Main Office:</h3>
                            <p><img src="../../assets/images/Icon ionic-md-call.svg">+973 17608282</p>
                            <p><img src="../../assets/images/Icon ionic-md-call.svg">+973 17601930</p>
                        </div>
                        <div class="col">
                            <h3>Fed-Mill Factory</h3>
                            <p><img src="../../assets/images/Icon ionic-md-call.svg">+973 17608282</p>
                            <p><img src="../../assets/images/Icon ionic-md-call.svg">+973 17601930</p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <h3>Processing Plant:</h3>
                            <p><img src="../../assets/images/Icon ionic-md-call.svg">+973 17727690</p>
                            <p><img src="../../assets/images/Icon ionic-md-call.svg">+973 17729041</p>
                        </div>
                        <div class="col">
                            <h3 class="">Hatchery</h3>
                            <p><img src="../../assets/images/Icon ionic-md-call.svg">+973 17624832</p>
                            <p><img src="../../assets/images/Icon ionic-md-call.svg">+973 17624901</p>
                        </div>
    
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>