@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.footer img {
    width: 200px;
    padding-top: 20px;
}

.footer h3 {
    font-family: var(--font-family);
    font-size: var(--heading-h6);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-two);
}

.footer p {
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-small);
    color: var(--text-color-two);
}


.footer-left-content{
    display: flex;
    flex-flow: wrap;
}

.footer-right img {
    width: 15px;
    padding-right: 5px;
    margin-top: -22px;
}

.footer .social-icons>div>* {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.footer .social-icons hr {
    width: 40%;
    border: 1px solid gray;
}

.footer .social-icons>div {
    width: 20%;
}


.social-icons p {
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-two);
}

.social-icons img {
    width: 15px;
}

@media only screen and (max-width:1023px) {
    .footer .social-icons hr {
        width: 40%;
    }

    .footer .social-icons>div {
        width: 40%;
    }
}

@media only screen and (min-width: 487px) and (max-width:767px) {
    .footer .social-icons hr {
        width: 50%;
    }

    .footer .social-icons>div {
        width: 60%;
    }
}

@media only screen and (max-width:486px) {
    .footer .social-icons hr {
        width: 20%;
    }

    .footer .social-icons>div {
        width: 60%;
    }
}
