<div class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <img src="../../assets/images/Delmon Poultry Logo.svg" alt="">
                <div class=" footer-left">
                    <div class="col-lg-12 d-flex justify-content-between mt-5">
                        <h3 style="margin-top: -5px;">Categories</h3>
                        <p class="">Fresh</p>
                        <p>Frozen</p>
                        <p>Marinated</p>
                        <p>Category4</p>
                        <p>Category5</p>
                        <p>Combos</p>
                    </div>
                    <div class="col-lg-12 d-flex mt-4">
                        <h3>Support</h3>
                        <p class="pl-4">About Us</p>
                        <p class="pl-4">Privacy and Policy</p>
                        <p class="pl-4">Terms and Conditions</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 footer-right">
                <div class="">
                    <h3 class="mt-4 pb-3">Contact us</h3>
                    <p class="pb-1">Delmon Poultry Company (B.S.C) <br>Hamala - Kingdom of Bahrain, PO. Box. 20535</p>
                </div>

                <div class="d-flex">
                    <div>

                        <div class="">
                            <h3 class="pb-2">Main Office:</h3>
                            <p><i class="fa fa-phone"></i>+973 17608282</p>
                            <p><i class="fa fa-phone"></i>+973 17601930</p>
                        </div>

                        <div class="">
                            <h3 class="pb-2">Fed-Mill Factory</h3>
                            <p><i class="fa fa-phone"></i>+973 17608282</p>
                            <p><i class="fa fa-phone"></i>+973 17601930</p>
                        </div>
                    </div>

                    <div class="mx-5">
                    
                        
                        <div class="">
                            <h3 class="pb-2">Processing Plant:</h3>
                            <p><i class="fa fa-phone"></i>+973 17727690</p>
                            <p><i class="fa fa-phone"></i>+973 17729041</p>
                        </div>
    
                        <div class="">
                            <h3 class="pb-2">Hatchery</h3>
                            <p><i class="fa fa-phone"></i>+973 17624832</p>
                            <p><i class="fa fa-phone"></i>+973 17624901</p>
                        </div>
    
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>