@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

h3{

    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

hr{
    color: #707070;
}

.button-container{
    flex-flow: wrap;
    
}

.btn-receipie{
    padding: 10px 35px;
    margin-right: 12px;
    background: #F0F0F4;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;

}

.btn-receipie:hover{
    padding: 10px 35px;
    margin-right: 12px;
    background: #F0F0F4;
    color: #E31D1A;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: #E31D1A;
    border-radius: 5px;

}




.gaps{
    padding: 0 5px;
}

.card-body{
    display: flex;
    align-items: start;
    justify-content: space-between;
    background: #00000029;
}

.card-body h5{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.card-body img{
    width: 8px;
    margin-right: 10px;
}
