
<app-navbar></app-navbar>


<div class="container">
    <h3 class="mt-5 mb-2">Receipies</h3>
    <hr>
    <div class="d-flex button-container">
        <button class="btn-receipie">All</button>
        <button class="btn-receipie">Fresh</button>
        <button class="btn-receipie">Frozen</button>
        <button class="btn-receipie">Maintained</button>
    </div>
    <hr>

    <div class="row pt-2">
        <div class="col-12 col-sm-6 col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 135@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 137@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6  col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 135@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6  col-md-3 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 137@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 135@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 137@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6  col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 135@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6  col-md-3 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 137@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 135@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 137@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6  col-md-3 pb-5 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 135@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6  col-md-3 gaps">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/Mask Group 137@2x.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Receipies Name</h5>
                  <img src="../../assets/images/ionic-ios-arrow-back.svg">
                </div>
            </div>
        </div>
    </div>

    
</div>