<div class="edit wallet">
    <h3 class="pb-1">Wallet Balance</h3>
    <div class="vertical-line"></div>
    <div class="pb-3"></div>
    <div class="wallet-box p-4">
        <div class="d-flex">
            <img src="../../../assets/images/Ionic-md-wallet-red.svg" alt="">
            <p class="pt-4 pl-4">Wallet Amount<br> <span>0.00 BD</span></p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg px-5 wallet-btn">ADD MONEY</button>
        </div>
    </div>
    <h6 class="pt-2 pb-1">Transaction History</h6>
    <div class="vertical-line"></div>
    <div class="wallet-box-one mt-5 pt-3 px-2">
        <div class="col-md-10">
            <h5 class="pb-1">Order Id : 12345678 | <span>Credit</span></h5>
            <div class="vertical-line"></div>
            <h6 class="pt-3">100BD</h6>
            <p class="">09-09-2022,2:42pm</p>
        </div>
        <div class="img-arrow">
            <img src="../../../assets/images/feather-arrow-down.svg" alt="">
        </div>
    </div>

    <div class="wallet-box-one mt-3 pt-3 px-2">
        <div class="col-md-10">
            <h5 class="pb-1">Order Id : 12345678 | <span>Credit</span></h5>
            <div class="vertical-line"></div>
            <h6 class="pt-3">100BD</h6>
            <p class="">09-09-2022,2:42pm</p>
        </div>
        <div class="img-arrow">
            <img src="../../../assets/images/feather-arrow-up.svg" alt="">
        </div>
    </div>


</div>