



@media only screen and (max-width:767px) {
    .orders-top {
        padding: 10px;
        flex-flow: wrap;
    }
}

@media only screen and (max-width:1200px) {
    .orders-top {
        padding: 10px;
        flex-flow: wrap;
    }
}

@media only screen and (max-width:500px) {
    .orders-main-top{
        flex-direction: column;
        align-items: center;
    }

    .orders-main p {
        font-family: var(--font-family);
        font-size: var(--small-size);
        font-weight: var(--font-weight-bold);
        color: var(--text-dark-color);
    }

    .order-muted {
        color: var(--text-color-one);
        font-family: var(--font-family);
        font-size: var(--small-size);
        font-weight: var(--font-weight-regular) !important;
        text-align: center;
    }


}