<nav class="navbar navbar-expand-lg w-100  navigation" id="navbar">
  <div class="container">

    <a class="navbar-brand font-weight-bold" routerLink="/">
      <img src="../../assets/images/Delmon Poultry Logo.svg" alt="">
    </a>

     <!-------------------- \
      <div class="Logo">
        <h5><i class="fa fa-location-arrow"></i>Location</h5>
       <div class="d-flex sub-logo">
        <p>Al Khobar, Saudi Arabia</p>
        <i class="fa fa-angle-down"></i>
        </div>
      </div>
       -------------------->


    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </a>

    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-flex">
          <i class="fa fa-search"></i>
          <a class="nav-link" routerLink="/search">Search </a>
        </li>

        <li class="nav-item d-flex">
          <i class="fas fa-file-alt"></i>
          <a class="nav-link" routerLink="/looking">Receipies</a>
        </li>
        <!-- Pages -->
        <li class="nav-item dropdown dropdown-slide d-flex">
          <i class="fa fa-th-large"></i>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a routerLink="/fresh"><i class="fa fa-circle"></i>Fresh</a></li>
            <li><a href="#"><i class="fa fa-circle"></i>Frozen</a></li>
            <li><a href="#"><i class="fa fa-circle"></i>Marinated</a></li>
            <li><a href="#"><i class="fa fa-circle"></i>Category 4</a></li>
            <li><a href="#"><i class="fa fa-circle"></i>Category 5</a></li>
            <li><a routerLink="/basket"><i class="fa fa-circle"></i>Basket</a></li>
          </ul>
        </li>

        <li class="nav-item d-flex">
          <i class="fa fa-user"></i>
          <a class="nav-link" routerLink="/Account">Login</a>
        </li>
        <li class="nav-item d-flex">
          <i class="fa fa-shopping-cart"></i>
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item d-flex">
          <i class="fa fa-bell"></i>
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li>
          <button class="btn btn-md btn-primary">English</button>
        </li>
        <li>
          <button class="btn btn-md btn-primary">Poutry</button>
        </li>
      </ul>

    </div>
  </div>
</nav>