<nav class="navbar navbar-expand-lg w-100 navigation" id="navbar">
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="/">
      <img src="../../assets/images/Delmon Poultry Logo.svg" alt="">
    </a>


    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
  </a>

    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item d-flex">
          <i class="fa fa-search"></i>
          <a class="nav-link" routerLink="/">Search </a>
        </li>

        <li class="nav-item d-flex">
          <i class="fas fa-file-alt"></i>
          <a class="nav-link" href="#">Receipies</a>
        </li>
        <!-- Pages -->
        <li class="nav-item dropdown dropdown-slide d-flex">
          <i class="fa fa-th-large"></i>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Blog Single</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">404 Page</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </li>

        <li class="nav-item d-flex">
          <i class="fa fa-user"></i>
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item d-flex">
          <i class="fa fa-shopping-cart"></i>
          <a class="nav-link" href="#">Cart</a>
        </li>
        <li class="nav-item d-flex">
          <i class="fa fa-bell"></i>
          <a class="nav-link" href="#">Notifications</a>
        </li>
      </ul>



    </div>
    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <button class="btn btn-md btn-primary">English</button>
        <button class="btn btn-md btn-primary mx-2">Poutry</button>
      </ul>



    </div>


  </div>
</nav>