@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.form-group label{

    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
    color: var(--text-dark-color);
}

.form-group input{
    width: 80%;
    background: var(--text-color-two);
    border: none;
}

.form-group ::placeholder{
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-dark-color);
}

.btn-edit{

    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}


.btn-edit:hover{

    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    background: var(--main-color);
    border: 1px solid var(--main-color);
}


    