<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 Login">
            <h5>Lorem Ipsum has been the industry's standard<br> dummy text</h5>
            <p class="pt-3">Lorem Ipsum has been the industry's standard<br> dummy text</p>
            <img src="../../assets/images/Group-49006.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 pt-5 mt-5 text-center">
            <div class="look text-center">
                <h5>What are you looking For?</h5>
                <p class="pt-3 text-center">Lorem Ipsum has been the industry's standard<br> dummy text</p>
                    
            </div>
            <div class="look-content d-flex text-center"> 
                <img src="../../assets/images/Group-49005.png" alt="desc-img" class="img-fluid"> 
                <p class="">Poutry</p>
                <div class="look-img pl-3">
                    <img src="../../assets/images/Icon-feather-arrow-left.svg" alt="">
                </div>
                
            </div>

            <div class="look-content d-flex mt-2 text-center"> 
                <img src="../../assets/images/Group-49004.png" alt="desc-img" class="img-fluid"> 
                <p class="">Feeding</p>
                <div class="look-img pl-3">
                    <img src="../../assets/images/Icon-feather-arrow-left.svg" alt="">
                </div>
                
            </div>

            <div class="col-md-12">
                <button class="btn btn-lg mt-5 look-btn">GET IN</button>
            </div>
        </div>
    </div>
</div>