@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.look{
    
    align-items: center;
    justify-content: center;

}
.look h5{
    font-family: var(--font-family);
    font-size: var(--heading-h6);
    font-weight: var(--font-weight-medium);
    color: var(--text-dark-color-three);
}
.look p{
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-one);
}

.look-content{
    background: var(--text-color);
    padding: 10px 30px;
    width: max-content;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
}

.look-content img{
    width: 75px;
}

.look-content p{
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-dark-color-three);
    margin-top: 15px;
    margin-left: 5px;
}

.look-img img{
    width: 10px;
    margin-top: -4px;
}


.look-btn{

        padding: 10px 90px;
        border: 1px solid var(--main-color);
        border-radius: 6px;
        color: var(--text-color);
        font-family: var(--font-family);
        font-size: var(--small-size);
        font-weight: var(--font-weight-regular);
        background: var(--main-color);

}