<div class="container">
    <div class="row">
      <div class="col-md-8">
  
            <h5 class="pt-5 font-weight-bold">Lorem ipsum dolor sit amet, choices are good investments.</h5>
            <p class="text">
              consectetur adipiscing elit. Etiam et purus a odio finibus <br>
              bibendum amet leo.
            </p>
      </div>
      <div class="col-md-4">
        <div class="box mt-5 mx-auto">
            <div class="rounded-button">
                <i class="fa fa-user-md" aria-hidden="true"></i>
            </div>
            <div class="form_group field">
                <label class="label">PHONE NUMBER</label>
                <input type="input" class="form_field" placeholder="+988" name="name" id='name' required />
                <button class="btn-sub">CONTINUE</button>
                <p class="policy">By Joining, you agree to <span>Terms of service and privacy policy</span> </p>
                <p class="text-center or">OR</p>
                <p class="link text-center" routerLink="/Employee">Skip</p>
            </div>
        </div>
      </div>
    </div>
  </div>