<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-12 mt-5 size">
      <h5>Lorem Ipsum has been the industry's standard<br> dummy text</h5>
      <p class="pt-3">Lorem Ipsum has been the industry's <br> standard dummy text</p>
      <img src="../../assets/images/Group 49006.png" class="img-fluid" alt="">
    </div>
      <div class="col-lg-4 col-md-5 col-sm-12 mt-4">
        <div class="box">
            <div class="rounded-icon">
                <img src="../../../assets/images/Group 48827@2x.png" alt="">
            </div>
            <div class="form_group field">
                <label class="label">PHONE NUMBER</label>
                <input type="input" class="form_field" placeholder="+988" name="name" id='name' required />
                <button class="btn btn-sub btn-block">CONTINUE</button>
                <p class="policy">By Joining, you agree to <span>Terms of service and privacy policy</span> </p>
                <p class="text-center text-muted">OR</p>
                <p class="link text-center" routerLink="/Employee">Skip</p>
            </div>
        </div>
      </div>
    </div>
  </div>