@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.phone-box {
    padding: 30px;
    align-items: center;
    justify-content: center;
    background: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.phone-label {

    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-one);
    margin-left: 2px;
    padding-top: 15px;
}

.phone-form_group {
    position: relative;
    margin-top: -30px;
}

.phone-form_field::placeholder{

    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-bold);
    color: var(--text-dark-color);
    font-weight: 500;
}

.phone-form_field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--main-color);
    outline: 0;
    font-size: 13px;
    color: var(--text-dark-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}



.btn-phone {
    margin-top: 20px;
    background-color: var(--main-color);
    padding: 13px;
    border-radius: 6px;
    border: none;
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-regular);
}

.phone-form_group p{
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-regular);
}

.phone-form_group span{
    color: var(--text-dark-color-two);
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-bold);
}

.or{

    color: var(--text-dark-color-two);
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-small);
}

.phone-link {
    color: var(--main-dark-color);
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-medium);
    color: var(--main-color);
    text-decoration: underline var(--main-color);
    cursor: pointer;
}

.rounded-icon{
    text-align: center;
}

.rounded-icon img {
    width: 150px;
    margin: auto;
    
}