<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-5">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-xl-9 col-lg-8  col-md-12 col-sm-12">
            <div class="edit">

                <div class="col-md-12">
                    <form>
                        <div class="form-group address text-center">

                            <div class="img-address">
                                <ng-lottie [options]="options" (animationCreated)="onAnimate($event)">
                                </ng-lottie>
                            </div>
                            
                            <p class="text-center">Hmmm, looks like you are one of very few who has<br> not made anything favourite yet.</p>

                            <div class="text-center pt-2 pb-2">
                                <button type="submit" class="btn btn-lg px-5 address-btn">ADD FAVOURITES</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>