.tab-border{
    border: 1px solid var(--main-border-color);
    padding: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background: none;
  
}

.medium li{
   align-items: center !important;
   align-self:center;
}

@media only screen and (max-width:992px){
    .large{
        display: none;
    }
}
