<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-5">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
            <div class="nav flex-column nav-pills tab-border large" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">

                <div class="nav-link d-flex active sidebox-content" id="v-pills-edit-tab" data-toggle="pill"
                    data-target="#v-pills-edit" type="button" role="tab" aria-controls="v-pills-edit"
                    aria-selected="true">
                    <img src="../../../assets/images/Icon-awesome-address-book.svg" alt="">
                    <div>
                        <h5>Edit Profile</h5>
                        <p>Edit and Add your name</p>
                    </div>
                </div>

                <div class="nav-link d-flex sidebox-content" id="v-pills-order-tab" data-toggle="pill"
                    data-target="#v-pills-order" type="button" role="tab" aria-controls="v-pills-order"
                    aria-selected="true">

                    <img src="../../../assets/images/Icon-awesome-address-book.svg" alt="">
                    <div>
                        <h5 class="">My Order</h5>
                        <p>Related Content</p>
                    </div>

                </div>

                <div class="nav-link d-flex sidebox-content" id="v-pills-address-tab" data-toggle="pill"
                    data-target="#v-pills-address" type="button" role="tab" aria-controls="v-pills-address"
                    aria-selected="true">

                    <img src="../../../assets/images/Icon-awesome-address-book.svg" alt="">
                    <div>
                        <h5 class="">Adressess</h5>
                        <p>Edit and Add new address</p>
                    </div>

                </div>

                <div class="nav-link d-flex sidebox-content" id="v-pills-wallet-tab" data-toggle="pill"
                    data-target="#v-pills-wallet" type="button" role="tab" aria-controls="v-pills-wallet"
                    aria-selected="true">
                    <img src="../../../assets/images/Icon-ionic-md-wallet.svg" alt="">
                    <div>
                        <h5>Wallet Balance</h5>
                        <p>Related Content</p>
                    </div>

                </div>

                <div class="nav-link d-flex sidebox-content" id="v-pills-favourite-tab" data-toggle="pill"
                    data-target="#v-pills-favourite" type="button" role="tab" aria-controls="v-pills-favourite"
                    aria-selected="true">

                    <img src="../../../assets/images/Icon-metro-favorite.svg" alt="">
                    <div>
                        <h5>Favourites</h5>
                        <p>Related Content</p>
                    </div>

                </div>
                <div class="nav-link d-flex sidebox-content" id="v-pills-points-tab" data-toggle="pill"
                    data-target="#v-pills-points" type="button" role="tab" aria-controls="v-pills-points"
                    aria-selected="true">
                    <img src="../../../assets/images/Icon-metro-token.svg" alt="">
                    <div>
                        <h5>Loyality Points</h5>
                        <p>Related Content</p>
                    </div>
                </div>

                <div class="nav-link d-flex sidebox-content" id="v-pills-help-tab" data-toggle="pill"
                    data-target="#v-pills-help" type="button" role="tab" aria-controls="v-pills-help"
                    aria-selected="true">
                    <img src="../../../assets/images/Icon-awesome-hands-helping.svg" alt="">
                    <div>
                        <h5>Help and Support</h5>
                        <p>Related Content</p>
                    </div>
                </div>

                <div class="nav-link d-flex sidebox-content" id="v-pills-settings-tab" data-toggle="pill"
                    data-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                    aria-selected="true">
                    <img src="../../../assets/images/Icon-ionic-md-settings.svg" alt="">
                    <div>
                        <h5>Settings</h5>
                        <p>Related Content</p>
                    </div>

                </div>

                <div class="nav-link d-flex sidebox-content" id="v-pills-feedback-tab" data-toggle="pill"
                    data-target="#v-pills-feedback" type="button" role="tab" aria-controls="v-pills-feedback"
                    aria-selected="true">
                    <img src="../../../assets/images/Icon-material-feedback.svg" alt="">
                    <div>
                        <h5>Send Feedback</h5>
                        <p>Complaints and Suggestions</p>
                    </div>

                </div>

                <div class="nav-link d-flex sidebox-content" id="v-pills-logout-tab" data-toggle="pill"
                    data-target="#v-pills-logout" type="button" role="tab" aria-controls="v-pills-logout"
                    aria-selected="true">
                    <img src="../../../assets/images/Icon-open-account-logout.svg" alt="">
                    <div>
                        <h5>LogOut</h5>
                    </div>
                </div>

            </div>

            <ul class="nav nav-pills small" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex active sidebox-content" id="v-pills-edit-tab" data-toggle="pill"
                        data-target="#v-pills-edit" type="button" role="tab" aria-controls="v-pills-edit"
                        aria-selected="true">
                        <img src="../../../assets/images/Icon-awesome-address-book.svg" alt="">
                        <div>
                            <h5>Edit Profile</h5>
                            <p>Edit and Add your name</p>
                        </div>
                    </div>
                </li>

                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-order-tab" data-toggle="pill"
                        data-target="#v-pills-order" type="button" role="tab" aria-controls="v-pills-order"
                        aria-selected="true">

                        <img src="../../../assets/images/Icon-awesome-address-book.svg" alt="">
                        <div>
                            <h5 class="">My Order</h5>
                            <p>Related Content</p>
                        </div>

                    </div>
                </li>
                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-address-tab" data-toggle="pill"
                        data-target="#v-pills-address" type="button" role="tab" aria-controls="v-pills-address"
                        aria-selected="true">

                        <img src="../../../assets/images/Icon-awesome-address-book.svg" alt="">
                        <div>
                            <h5 class="">Adressess</h5>
                            <p>Edit and Add new address</p>
                        </div>

                    </div>
                </li>
                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-wallet-tab" data-toggle="pill"
                        data-target="#v-pills-wallet" type="button" role="tab" aria-controls="v-pills-wallet"
                        aria-selected="true">
                        <img src="../../../assets/images/Icon-ionic-md-wallet.svg" alt="">
                        <div>
                            <h5>Wallet Balance</h5>
                            <p>Related Content</p>
                        </div>

                    </div>
                </li>
                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-favourite-tab" data-toggle="pill"
                        data-target="#v-pills-favourite" type="button" role="tab" aria-controls="v-pills-favourite"
                        aria-selected="true">

                        <img src="../../../assets/images/Icon-metro-favorite.svg" alt="">
                        <div>
                            <h5>Favourites</h5>
                            <p>Related Content</p>
                        </div>

                    </div>

                </li>
                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-points-tab" data-toggle="pill"
                        data-target="#v-pills-points" type="button" role="tab" aria-controls="v-pills-points"
                        aria-selected="true">
                        <img src="../../../assets/images/Icon-metro-token.svg" alt="">
                        <div>
                            <h5>Loyality Points</h5>
                            <p>Related Content</p>
                        </div>
                    </div>
                </li>
                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-help-tab" data-toggle="pill"
                        data-target="#v-pills-help" type="button" role="tab" aria-controls="v-pills-help"
                        aria-selected="true">
                        <img src="../../../assets/images/Icon-awesome-hands-helping.svg" alt="">
                        <div>
                            <h5>Help and Support</h5>
                            <p>Related Content</p>
                        </div>
                    </div>
                </li>
                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-settings-tab" data-toggle="pill"
                        data-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="true">
                        <img src="../../../assets/images/Icon-ionic-md-settings.svg" alt="">
                        <div>
                            <h5>Settings</h5>
                            <p>Related Content</p>
                        </div>

                    </div>
                </li>
                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-feedback-tab" data-toggle="pill"
                        data-target="#v-pills-feedback" type="button" role="tab" aria-controls="v-pills-feedback"
                        aria-selected="true">
                        <img src="../../../assets/images/Icon-material-feedback.svg" alt="">
                        <div>
                            <h5>Send Feedback</h5>
                            <p>Complaints and Suggestions</p>
                        </div>

                    </div>
                </li>

                <li class="nav-item" role="presentation">
                    <div class="nav-link d-flex sidebox-content" id="v-pills-logout-tab" data-toggle="pill"
                        data-target="#v-pills-logout" type="button" role="tab" aria-controls="v-pills-logout"
                        aria-selected="true">
                        <img src="../../../assets/images/Icon-open-account-logout.svg" alt="">
                        <div>
                            <h5>LogOut</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>




        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="v-pills-edit" role="tabpanel"
                    aria-labelledby="v-pills-edit-tab">
                    <app-edit></app-edit>
                </div>

                <div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">
                    <app-order></app-order>
                </div>

                <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">
                    <app-address></app-address>
                </div>

                <div class="tab-pane fade" id="v-pills-wallet" role="tabpanel" aria-labelledby="v-pills-wallet-tab">
                    <app-wallet></app-wallet>
                </div>

                <div class="tab-pane fade" id="v-pills-favourite" role="tabpanel"
                    aria-labelledby="v-pills-favourite-tab">
                    <app-favourite></app-favourite>
                </div>

                <div class="tab-pane fade" id="v-pills-points" role="tabpanel" aria-labelledby="v-pills-points-tab">
                    <app-points></app-points>
                </div>

                <div class="tab-pane fade" id="v-pills-help" role="tabpanel" aria-labelledby="v-pills-help-tab">
                    <app-help></app-help>
                </div>

                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <app-settings></app-settings>
                </div>

                <div class="tab-pane fade" id="v-pills-feedback" role="tabpanel" aria-labelledby="v-pills-feedback-tab">
                    <app-feedback></app-feedback>
                </div>

                <div class="tab-pane fade" id="v-pills-logout" role="tabpanel" aria-labelledby="v-pills-logout-tab">

                </div>


            </div>
        </div>
    </div>
</div>