.tab-border{
    border: 1px solid var(--main-border-color);
    padding: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background: var(--main-color);
  
}

#pills-tab > li{ 
    width: 50%;
 }



@media only screen and (max-width:991px){
    .large{
        display: none;
    }
}

@media only screen and (min-width:992px){
    .small{
        display: none;
    }
}



