<div class="container">
    <div class="row">
      <div class="col-md-8">
  
            <h5 class="pt-5 font-weight-bold">Lorem ipsum dolor sit amet, choices are good investments.</h5>
            <p class="text">
              consectetur adipiscing elit. Etiam et purus a odio finibus <br>
              bibendum amet leo.
            </p>
      </div>
      <div class="col-md-4 mt-5 pt-5">
        <div class="box mt-5 mx-auto">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Employee Number" required>
              <button class="btn-sub">PROCEED</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>