
.employee-box {
  padding: 20px;
  background: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  margin-top: 150px;
}

.employee-box input{
  background: var(--main-box-color-two);
  border: none;
}

.employee-box .form-control::placeholder{
  font-family: var(--font-family);
  font-size: var(--small-size);
  font-weight: var(--font-weight-regular);
  color: var(--text-dark-color);
  padding-left: 5px;
  border: none;
 
}

.btn-sub {
  background-color: var(--main-color);
  font-family: var(--font-family);
  font-size: var(--small-size);
  font-weight: var(--font-weight-medium);
  padding: 13px;
  color: var(--text-color);
}