@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --main-color: #E31D1A;
  --main-box-color: #00000029;
  --main-box-color-two: #F0F0F4;
  --main-box-color-three: #F1F1F1;
  --text-color: #FFFFFF;
  --text-color-one: #707070;
  --text-color-two: #F7F7F7;
  --text-color-three: #AFAFAF;
  --text-dark-color: #000000;
  --text-dark-color-one: #231F40;
  --text-dark-color-two: #2C3149;
  --text-dark-color-three: #0F0C0C;
  --bagde-color:#22AF48;
  --heading-h1: 35px;
  --heading-h2: 30px;
  --heading-h3: 28px;
  --heading-h4: 24px;
  --heading-h5: 22px;
  --heading-h6: 18px;
  --para-size: 16px;
  --medium-size:15px;
  --small-size: 13px;
  --font-family: 'Poppins', sans-serif;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-small: 300;

}

/*-------------------------------Account-Employee-Number-Otp-Phone- This all page common code----------------------------------------------------------------------------*/

.Login h5 {
  font-family: var(--font-family);
  font-size: var( --heading-h5);
  font-weight: var(--font-weight-bold);
  color: var(--main-dark-color);
}

.Login p {

  font-family: var(--font-family);
  font-size: var( --para-size);
  font-weight: var(--font-weight-regular);
  color: var(--main-dark-color);
}

.Login img {
  width: 500px;
  margin: auto;
  object-fit: cover; 
}





/*------------------------------------------------------------------------------------------------------------*/




.sidebox{
  width: max-content;
  padding: 20px;
  border: 1px solid #171515;
}

.sidebox-content{
  padding-right: 20px;
}
.sidebox-content img{
  width: 11px;
}

.sidebox-content h5{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20px;
  padding-left: 20px;
}

.sidebox-content h4{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 20px;
  margin-top: 6px;
}

.sidebox-content p{

  font-family: 'Poppins', sans-serif;
  font-size: 9px;
  font-weight: 500;
  color: #A3A1A1;
  padding-left: 20px;
}


.edit{
  padding: 40px;
  border: 1px solid;
}

.edit h3{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.vertical-line{
  height: 1px;
  width: auto;
  background: #00000029;
}

.vertical-dotted-line{
  border-bottom: 1px dotted #00000029;

}
