@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --main-color: #E31D1A;
  --main-box-color: #00000029;
  --main-border-color: #171515;
  --main-box-color-two: #F0F0F4;
  --main-box-color-three: #F1F1F1;
  --main-box-color-four: #C8C8C8;
  --text-color: #FFFFFF;
  --text-color-one: #707070;
  --text-color-two: #F7F7F7;
  --text-color-three: #AFAFAF;
  --text-color-four:#A3A1A1;
  --text-color-five:#ACA7A7;
  --text-dark-color: #000000;
  --text-dark-color-one: #231F40;
  --text-dark-color-two: #2C3149;
  --text-dark-color-three: #0F0C0C;
  --bagde-color:#22AF48;
  --dash-btn-color:#17812E;
  --dash-btn-color-two:#15984D;
  --dash-btn-bg: #b6d8bd;
  --heading-h1: 35px;
  --heading-h2: 30px;
  --heading-h3: 28px;
  --heading-h4: 24px;
  --heading-h5: 22px;
  --heading-h6: 18px;
  --para-size: 16px;
  --medium-size:15px;
  --small-size: 13px;
  --font-family: 'Poppins', sans-serif;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-small: 300;

}

/*-------------------------------Account-Employee-Number-Otp-Phone- This all page common code----------------------------------------------------------------------------*/

.Login h5 {
  font-family: var(--font-family);
  font-size: var( --heading-h5);
  font-weight: var(--font-weight-bold);
  color: var(--main-dark-color);
}

.Login p {

  font-family: var(--font-family);
  font-size: var( --para-size);
  font-weight: var(--font-weight-regular);
  color: var(--main-dark-color);
}

.Login img {
  width: 500px;
  margin: auto;
  object-fit: cover; 
}





/*--------------------------------------Dashboard - Sidebar -----------------------------------------------------------------------*/




.sidebox{
  width: max-content;
  padding: 20px;
  border: 1px solid var(--main-border-color);
}

.sidebox-content img{
  width: 15px;
}

.sidebox-content h5{
  font-family: var(--font-family);
  font-size: var(--para-size);
  font-weight: var(--font-weight-medium);
  color: var(--text-dark-color);
  margin-top: 20px;
  padding-left: 20px;
}

.sidebox-content h6{
  font-family: var(--font-family);
  font-size: var(--para-size);
  font-weight: var(--font-weight-medium);
  color: var(--text-dark-color);
  padding-left: 20px;
  margin-top: 6px;
}

.sidebox-content p{

  font-family: var(--font-family);
  font-size: var(--small-size);
  font-weight: var(--font-weight-regular);
  color: var(--text-color-four);
  padding-left: 20px;
}

/*-------------------------------Common for Dashboard folder-------------------------------------------*/

.edit{
  padding: 30px;
  border: 1px solid;
}

.edit h3{
    font-family: var(--font-family);
    font-size: var(--heading-h6);
    font-weight: var(--font-weight-bold);
    color: var(--text-dark-color);
}

.vertical-line{
  height: 1px;
  width: auto;
  background: var(--main-box-color);
}

.vertical-dotted-line{
  border-bottom: 1px dotted var(--main-box-color);

}

.cart-border{
  border: 1px solid var(--text-dark-color) !important;
}

.orders-main{
  background: var(--text-color-two);
  padding: 20px;
}

.orders-top{
  background:  var(--text-color-two);
  display: flex;
  justify-content: space-around;
}

.orders-top p{
  font-family: var(--font-family);
  font-size: var(--para-size);
  font-weight: var(--font-weight-regular);
  color: var(--text-dark-color);
  text-align: center;
  margin-top: 10px;
}


.orders-main p{
  font-family: var(--font-family);
  font-size: var(--para-size);
  font-weight: var(--font-weight-medium);
  color: var(--text-dark-color);
}


.orders-main img{
  width: 8px;
  margin-top: -40px;
}

.orders-main-btn{
  
  color: var(--dash-btn-color);
  font-family: var(--font-family);
  font-size: var(--para-size);
  font-weight: var(--font-weight-regular);
  background:  var(--dash-btn-bg);
  border: none;
  outline: none;
  border-radius: 10px;
}


.order-muted{
  color: var(--text-color-one);
  font-family: var(--font-family);
  font-size: var(--small-size);
  font-weight: var(--font-weight-medium);

}

/*------------------------------Order-three and Order-Invoice----------------------------------------------*/





.order-three-top{
  background: var(--text-color-two);
}

.order-three-top p{
 font-family: var(--font-family);
 font-size: var( --para-size);
 font-weight: var(--font-weight-regular);
 color: var(--main-dark-color);
}

.order-three h3{
  font-family: var(--font-family);
  font-size: var( --heading-h5);
  font-weight: var(--font-weight-medium);
  color: var(--main-dark-color);
}

.order-three h5{
  font-family: var(--font-family);
  font-size: var( --heading-h6);
  font-weight: var(--font-weight-medium);
  color: var(--main-dark-color);
}

.order-three h2{

  font-family: var(--font-family);
  font-size: var( --para-size);
  font-weight: var(--font-weight-bold);
  color: var(--main-dark-color);
}

.order-three-footer p{
  font-family: var(--font-family);
  font-size: var( --para-size);
  font-weight: var(--font-weight-regular);
  color: var(--main-dark-color);
}

.order-three-footer span{
  font-family: var(--font-family);
  font-size: var( --para-size);
  font-weight: var(--font-weight-medium);
  color: var(--main-dark-color);
}

.order-three-footer h2{
  font-family: var(--font-family);
  font-size: var( --para-size);
  font-weight: var(--font-weight-bold);
  color: var(--main-dark-color);
}


.order-muted p{
  color: var(--text-dark-color);
  font-family: var(--font-family);
  font-size: var(--para-size);
  font-weight: var(--font-weight-small);
}


/*-------------------------------------------Dashboard OTP page-----------------------------------------------*/

.otp-input{
  border: none !important;
  border-radius: none !important;
  border-bottom: 2px solid #E31D1A !important; 
  overflow:  hidden !important;
  background-color: transparent !important;
 
}

.otp-input:valid{
  border: none !important;
  border-radius: none !important;
  border-bottom: 2px solid #E31D1A !important;
  overflow: hidden !important;
}


/*-----------------------------------------Help page---------------------------------------------------*/


.mat-expansion-indicator::after {
  padding: 5px !important;
  color: #000;
  
}

.delete .mat-expansion-indicator::after{
    border-style: none;
    border-width: 0;
    content: none;
    display: none !important;
    padding: 0px !important;
}
.mat-expansion-panel-header-title{
  color: var(--text-dark-color);
  font-family: var(--font-family);
  font-size: var(--heading-h6);
  font-weight: var(--font-weight-regular);
}

/*------------------------------------------------------------------------------------------*/

