@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.otp-box {
    padding: 30px;
    align-items: center;
    justify-content: center;
    background: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.label {
    
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-one);
    margin-left: 2px;
    padding-top: 15px;
}


.btn-otp {
    margin-top: 20px;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 6px;
    border: none;
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color);
}

.otp-footer p{
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-medium);
    color: var(--text-dark-color-two);
}

.otp-footer p span{
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-bold);
    color: var(--text-dark-color-two);
}

.rounded-icon{
    text-align: center;
}

.rounded-icon img {
    width: 150px;
    margin: auto;
    
}

.otp-code{
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.otp-code input{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #E31D1A;
    background-color: transparent;
}

.otp-code input:valid{
    
    border-bottom: 2px solid #E31D1A;
    font-size: 1.1rem;
}