@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.size h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #231F40;
}

.size p {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #231F40;
}

.size img {
    width: 500px;
    margin: auto;
    object-fit: cover;
}

.otp-box {
    padding: 30px;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.label {
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-weight: 500;
    margin-left: 2px;
    padding-top: 15px;
}


.btn-otp {
    margin-top: 20px;
    background-color: #E31D1A;
    padding: 15px;
    border-radius: 6px;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.otp-footer p{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #2C3149;
}

.otp-footer p span{

    font-size: 10px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2C3149;
    padding-left: 3px;
}

.rounded-icon{
    text-align: center;
}

.rounded-icon img {
    width: 150px;
    margin: auto;
    
}