<app-login-bar></app-login-bar>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-12 mt-5 Login">
      <h5>Lorem Ipsum has been the industry's standard<br> dummy text</h5>
      <p class="pt-3">Lorem Ipsum has been the industry's <br> standard dummy text</p>
      <img src="../../assets/images/Group-49006.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12 mt-4">
      <div class="otp-box">
        <div class="rounded-icon">
          <img src="../../../assets/images/Group 48827@2x.png" alt="">
        </div>
        <div class="">
          <label class="label">ENTER OTP</label>
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
          <button class="btn btn-otp btn-block">PROCEED</button>
          <div class="text-center otp-footer mt-2 pb-5">
            <p class="policy"> Didn't receive otp? <span>RESEND</span> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>