<app-navbar></app-navbar>

<div class="container">

    <h3 class="mt-5 mb-2 fresh-head">Basket</h3>
    <hr>
    <div class="d-flex button-container">
        <button class="btn-receipie">Our Basket</button>
        <button class="btn-receipie">Customize Basket</button>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-6 gaps">

            <div class="card">
                <div class="top-button">
                    <button class="btn badge badge-pill">In stock</button>
                    <img src="../../assets/images/Icon feather-heart.svg" alt="heart">
                </div>
                <img src="../../assets/images/CHICKEN BONELESS THIGHS FRESH 500g@2x.jpg" class="card-img-top mx-auto"
                    alt="...">

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-text">Chicken Bount Combo</h5>
                        <p class="pill-btn">combo offer</p>
                    </div>
                    <p class="card-title">Combos Content</p>
                    <p class="card-price">25BD</p>
                    <div class="fresh-dropdown">
                        <select>
                            <option>25kg</option>
                            <option>50kg</option>
                        </select>
                        <button class="btn fresh-btn"><span>+
                            </span> ADD</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-md-6 fresh gaps">

            <div class="card box-shadow">
                <div class="top-button">
                    <button class="btn badge badge-pill">In stock</button>
                    <img src="../../assets/images/Icon feather-heart.svg" alt="heart">
                </div>
                <img src="../../assets/images/CHICKEN BONELESS THIGHS FRESH 500g.jpg" class="card-img-top mx-auto"
                    alt="...">

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-text">Chicken Bount Combo</h5>
                        <p class="pill-btn">combo offer</p>
                    </div>
                    <p class="card-title">Combos Content</p>
                    <p class="card-price">25BD</p>
                    <div class="fresh-dropdown">
                        <select>
                            <option>25kg</option>
                            <option>50kg</option>
                        </select>
                        <button class="btn fresh-btn"><span>+
                            </span> ADD</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-md-6 gaps">

            <div class="card box-shadow">
                <div class="top-button">
                    <button class="btn badge badge-pill">In stock</button>
                    <img src="../../assets/images/Icon feather-heart.svg" alt="heart">
                </div>
                <img src="../../assets/images/CHICKEN BONELESS THIGHS FRESH 500g.jpg" class="card-img-top mx-auto"
                    alt="...">

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-text">Chicken Bount Combo</h5>
                        <p class="pill-btn">combo offer</p>
                    </div>
                    <p class="card-title">Combos Content</p>
                    <p class="card-price">25BD</p>
                    <div class="fresh-dropdown">
                        <select>
                            <option>25kg</option>
                            <option>50kg</option>
                        </select>
                        <button class="btn fresh-btn"><span>+
                            </span> ADD</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<app-footer></app-footer>