<nav class="navbar bg-payment">
    <a class="navbar-brand mx-auto" href="#">Payment</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 cart-border">
            <div class="col-md-10 cart-left p-4 mt-3">
                <div class="d-flex justify-content-between">
                    <p>Chicken Curry Cut <br> 500g</p>
                    <div>
                        <img src="../../../assets/images/Icon ionic-ios-close.svg">
                        <p class="">45BD</p>
                    </div>
                </div>
                <div class="vertical-dotted-line mb-3"></div>
                <div class="d-flex justify-content-between">
                    <p>Chicken Curry Cut <br> 500g</p>
                    <div>
                        <img src="../../../assets/images/Icon ionic-ios-close.svg">
                        <p class="">45BD</p>
                    </div>
                </div>
                <div class="vertical-dotted-line mb-3"></div>
                <div class="d-flex justify-content-between">
                    <p>Chicken Curry Cut <br> 500g</p>
                    <div>
                        <img src="../../../assets/images/Icon ionic-ios-close.svg">
                        <p class="">45BD</p>
                    </div>
                </div>
                <div class="vertical-dotted-line mb-3"></div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="mt-5">
                <h3 class="cart-h3 pb-3">Payment Method</h3>
                <div class="payment-right d-flex">
                    <div class="payment-right-box">
                        <img src="../../../assets/images/Icon payment-cash.svg" alt="" class="">
                        <p>COD</p>
                    </div>

                    <div class="payment-right-box mx-2">
                        <img src="../../../assets/images/Icon ionic-ios-wallet.svg" alt="" class="">
                        <p>Wallet</p>
                    </div>

                    <div class="payment-right-box mx-2">
                        <img src="../../../assets/images/Icon ionic-md-card.svg" alt="" class="">
                        <p>Card</p>
                    </div>
                </div>
                <h3 class="cart-h3 pt-4 pb-3">Bill Detail</h3>
                <div class="col-md-9 cart-right-footer p-3">
                    <div class="d-flex justify-content-between">
                        <p>Total Price</p>
                        <span>45BD</span>
                    </div>

                    <div class="d-flex justify-content-between">
                        <p>Coupon Discount</p>
                        <span>__</span>
                    </div>

                    <div class="d-flex justify-content-between">
                        <p>Delivery Fees</p>
                        <span></span>
                    </div>

                    <div class="d-flex justify-content-between">
                        <p>VAT</p>
                        <span>5%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-9 cart-right-footer-box">
                <div class="">
                    <p class="mt-2"><span style="color: #E31D1A;">155BD</span> <br> Total Amount</p>
                </div>
                <div>
                    <button class="btn">Pay</button>
                </div>
            </div>

        </div>
    </div>
</div>