<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-5">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-xl-9 col-lg-8  col-md-12 col-sm-12">
            <div class="edit">
                <h3 class="pb-1">Saved Addresses</h3>
                <div class="vertical-line"></div>
                <div class="pb-3"></div>
                <form class="s-address">
                    <div class="s-address-left">
                        <div class="d-flex">
                            <img src="../../../assets/images/Icon-feather-home.svg" alt="">
                            <h6>Home</h6>
                        </div>
                        <div class="px-4">
                            <p>Near Grand Mosque Bldg 676 Road 4015, PO Box<br> 15412, Manama, 340, Bahrain.</p>
                            <div>
                                <a>EDIT</a>
                                <a>DELETE</a>
                            </div>
                        </div>
                    </div>
                    <div class="s-address-right mt-4 text-center">
                        <img src="../../../assets/images/Group-49016.svg" alt="" class="">
                        <h6 class="pt-3">ADD ADDRESSES</h6>

                    </div>

                   
                </form>
            </div>
        </div>
    </div>
</div>