<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="sidebox">
                <div class="d-flex sidebox-content">
                    <img src="../../../assets/images/Icon awesome-address-book.svg" alt="">
                    <div>
                      <h5>Edit Profile</h5>
                      <p>Edit and Add new address</p>
                    </div>
                </div>
                <div class="d-flex sidebox-content">
                    <img src="../../../assets/images/Icon awesome-address-book.svg" alt="">
                    <div>
                      <h5>My Order</h5>
                      <p>Related Content</p>
                    </div>
                </div>
                <div class="d-flex sidebox-content">
                    <img src="../../../assets/images/Icon ionic-md-wallet.svg" alt="">
                    <div>
                      <h5>Wallet Balance</h5>
                      <p>Related Content</p>
                    </div>
                </div>
                <div class="d-flex sidebox-content">
                    <img src="../../../assets/images/Icon metro-favorite.svg" alt="">
                    <div>
                      <h5>Favourites</h5>
                      <p>Related Content</p>
                    </div>
                </div>
                <div class="d-flex sidebox-content">
                    <img src="../../../assets/images/token-_1_.svg" alt="">
                    <div>
                      <h5>Loyality Points</h5>
                      <p>Related Content</p>
                    </div>
                </div>
                <div class="d-flex sidebox-content">
                    <img src="../../../assets/images/Icon awesome-hands-helping.svg" alt="">
                    <div>
                      <h5>Help and Support</h5>
                      <p>Related Content</p>
                    </div>
                </div>
                <div class="d-flex sidebox-content">
                    <img src="../../../assets/images/Icon ionic-md-settings.svg" alt="">
                    <div>
                      <h5>Settings</h5>
                      <p>Related Content</p>
                    </div>
                </div>
                <div class="d-flex sidebox-content">
                    <img src="../../../assets/images/Icon material-feedback.svg" alt="">
                    <div>
                      <h5>Send Feedback</h5>
                      <p>Complaints and Suggestions</p>
                    </div>
                </div>
                <div class="d-flex sidebox-content text-center">
                    <img src="../../../assets/images/Icon open-account-logout.svg" alt="">
                    <div>
                      <h5>LogOut</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7"></div>
    </div>
</div>