<app-navbar></app-navbar>

<div class="container">
  <div class="row mt-5">
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">

      <div class="edit">
        <h3 class="pb-1">My Order</h3>
        <div class="vertical-line"></div>
        <div class="pb-3"></div>
        <div class="orders-top">
          <p>Loreum Ipsum</p>
          <p>Confirmed Orders</p>
          <p>Completed Orders</p>
          <p>Cancelled Orders</p>
        </div>

        <div class="orders-main mt-3">
          <div class="orders-main-top d-flex justify-content-between">
            <p>Order ID : 12345</p>
            <p>Order Placed : 07-09-2022</p>
          </div>
          <div class="vertical-line"></div>
          <div class="orders-main-top d-flex justify-content-between pt-3">
            <p>Your items are Deliver at</p>
            <p>30-09-2022</p>
          </div>
          <div class="order-btn-container d-flex justify-content-center">
            <button class="btn btn1">Accept / Continue the Order</button>
            <button class="btn btn2">Reject / Cancel the Order</button>
          </div>
          <div class="d-flex justify-content-between pt-3">
            <p class="order-muted">Lorem Ipsum has been the industry standard dummy text ever
              <br> since the 1500s
            </p>
            <p class="mt-1" style="color: #E31D1A;">04:00</p>
          </div>
          <div class="d-flex justify-content-between pt-3">
            <p>Total Amount <br> 130D</p>
            <div class="d-flex">
              <p class="pr-2">Your Order detail </p>
              <img src="../../../assets/images/ionic-ios-arrow-back.svg" alt="">
            </div>
          </div>
        </div>
        <div class="orders-main mt-3">
          <div class="d-flex justify-content-between">
            <p>Order ID : 12345</p>
            <p>Order Placed : 07-09-2022</p>
          </div>
          <div class="vertical-line"></div>
          <button class="orders-main-btn px-4 py-1 mt-3 mb-3">Lorem Ipsum</button>
          <div class="vertical-line"></div>
          <div class="d-flex justify-content-between pt-3">
            <p>Total Amount <br> 130D</p>
            <div class="d-flex">
              <p class="pr-2">Your Order detail </p>
              <img src="../../../assets/images/ionic-ios-arrow-back.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>