
.orders-main .btn1{
    background: none;
    border: 1px solid var(--main-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--main-color);
    padding: 6px 12px;
    margin-right: 20px;
}

.orders-main .btn1:hover{
    background: var(--main-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color);
    padding: 6px 12px;
    margin-right: 20px;
}
.orders-main .btn2{
    background: var(--main-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color);
    padding: 8px 34px;
}

.orders-main .btn2:hover{
    background: none;
    border: 1px solid var(--main-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--main-color);
    padding: 8px 34px;
   
}


.order-muted{
    color: var(--text-color-one);
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-medium);
  
  }


  @media only screen and (max-width:576px){
    .order-btn-container{
        text-align: center;
        flex-direction: column;
        flex-flow: wrap;
        gap: 15px;
    }
  }