<app-navbar></app-navbar>

<div class="container">

  <h3 class="mt-5 mb-2 fresh-head">Fresh</h3>
  <hr>
  <div class="d-flex button-container">
    <button class="btn-receipie">All</button>
    <button class="btn-receipie">Curry Cuts</button>
    <button class="btn-receipie">Boneless Piece</button>
    <button class="btn-receipie">Specially Cuts</button>
    <button class="btn-receipie">Offals</button>
  </div>
  <hr>

  <div class="row">
    <div class="col-lg-4 col-sm-6 col-md-6 fresh gaps">

      <div class="card box-shadow">
        <div class="top-button">
          <button class="badge badge-pill desc-btn">In Stock</button>
          <img src="../../assets/images/Icon-feather-heart.svg" alt="heart">
        </div>
        <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg" class="card-img-top mx-auto" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Chest</h5>
          <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of chicken.</p>
          <p class="card-price">25BD</p>
          <div class="fresh-dropdown">
            <select>
              <option>25kg</option>
              <option>50kg</option>
            </select>
            <button class="btn fresh-btn" data-bs-toggle="modal" data-bs-target="#myModal"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-md-6 fresh gaps">

      <div class="card box-shadow">
        <div class="top-button">
          <button class="badge badge-pill desc-btn">In Stock</button>
          <img src="../../assets/images/Icon-feather-heart.svg" alt="heart">
        </div>
        <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg" class="card-img-top mx-auto" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Chest</h5>
          <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of chicken.</p>
          <p class="card-price">25BD</p>
          <div class="fresh-dropdown">
            <select>
              <option>25kg</option>
              <option>50kg</option>
            </select>
            <button class="btn fresh-btn" data-bs-toggle="modal" data-bs-target="#myModal2"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-md-6 fresh gaps">

      <div class="card box-shadow">
        <div class="top-button">
          <button class="badge badge-pill desc-btn">In Stock</button>
          <img src="../../assets/images/Icon-feather-heart.svg" alt="heart">
        </div>
        <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg" class="card-img-top mx-auto" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Chest</h5>
          <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of chicken.</p>
          <p class="card-price">25BD</p>
          <div class="fresh-dropdown">
            <select>
              <option>25kg</option>
              <option>50kg</option>
            </select>
            <button class="btn fresh-btn" data-bs-toggle="modal" data-bs-target="#myModal3"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>

<app-footer></app-footer>


<div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
           <a>______</a>
          <div class="modal-header">
              <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg" alt="">
              <div class="px-3">
                  <h3>Chicken Chest</h3>
                  <p class="">Lorem Ipsum has been the industry's<br> standard dummy text ever since the 1500s</p>
              </div>
          </div>
          <div class="modal-body">
             <div class="modal-weight px-3">
                 <h4>500Kg/45BD</h4>
                 <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
             </div>
             <div class="modal-weight px-3 mt-3">
              <h4>1Kg/100BD</h4>
              <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
             </div>
             <div class="modal-weight px-3 mt-3">
              <h4>1.5Kg/200BD</h4>
              <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
          </div>
          </div>
         
      </div>
  </div>
</div>

<div class="modal" id="myModal2">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg" alt="">
              <div class="px-3">
                  <h3>Chicken Chest</h3>
                  <p class="">Lorem Ipsum has been the industry's<br> standard dummy text ever since the 1500s</p>
              </div>
          </div>
          <div class="modal-body">
             <div class="modal-weight px-3">
                 <h4>500Kg/45BD</h4>
                 <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
             </div>
             <div class="modal-weight px-3 mt-3">
              <h4>1Kg/100BD</h4>
              <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
             </div>
             <div class="modal-weight px-3 mt-3">
              <h4>1.5Kg/200BD</h4>
              <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
          </div>
          </div>
         
      </div>
  </div>
</div>

<div class="modal" id="myModal3">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg" alt="">
              <div class="px-3">
                  <h3>Chicken Chest</h3>
                  <p class="">Lorem Ipsum has been the industry's<br> standard dummy text ever since the 1500s</p>
              </div>
          </div>
          <div class="modal-body">
             <div class="modal-weight px-3">
                 <h4>500Kg/45BD</h4>
                 <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
             </div>
             <div class="modal-weight px-3 mt-3">
              <h4>1Kg/100BD</h4>
              <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
             </div>
             <div class="modal-weight px-3 mt-3">
              <h4>1.5Kg/200BD</h4>
              <button class="btn-sm fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg" alt="">ADD</button>
          </div>
          </div>
         
      </div>
  </div>
</div>
