@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

h3{

    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

hr{
    color: #181717;
    align-items: flex-end;
    justify-content: right;
}

.button-container{
    flex-flow: wrap;
    
}

.btn-receipie{
    padding: 10px 35px;
    margin-right: 12px;
    background: #F0F0F4;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;

}

.btn-receipie:hover{
    padding: 10px 35px;
    margin-right: 12px;
    background: #F0F0F4;
    color: #E31D1A;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;

}


.card img{
    width: 200px;
    margin: auto;
    object-fit: cover;

}

.card{
    position: relative;
    
}

.top-button{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    align-items: center;
}

.top-button .btn{
    font-size: 8px;
    border-radius: 25px;
    padding: 2px 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.top-button i{

    color: #f45;
    margin-right: 10px;
    margin-top: 4px;

}

select{

    padding: 9px;
    width: 35%;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
}

.card-body h5{
    font-weight: bold;
    font-size: 15px;
}

.card-body p{
    font-size: 12px;
    font-weight: 200;
}

.card-body .card-price{
    color: rgb(255, 68, 77);
    font-weight: bold;
    font-size: 13px;
}


@media only screen and (max-width:767px){

   
    
}

