<app-navbar></app-navbar>

<div class="container">

  <h3 class="mt-5 mb-2">Fresh</h3>
  <hr>
  <div class="d-flex button-container">
      <button class="btn-receipie">All</button>
      <button class="btn-receipie">Curry Cuts</button>
      <button class="btn-receipie">Boneless Piece</button>
      <button class="btn-receipie">Specially Cuts</button>
      <button class="btn-receipie">Offals</button>
  </div>
  <hr>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">

      <div class="card">
        <div class="top-button">
          <button class="btn badge badge-pill">In stock</button>
          <img src="../../assets/images/Icon feather-heart.svg" alt="heart">
        </div>
        <img src="../../assets/images/CHICKEN BONELESS THIGHS FRESH 500g@2x.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Chest</h5>
          <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of chicken.</p>
          <p class="card-price">25BD</p>
          <div class="fresh-dropdown">
              <select >
              <option>25kg</option><option>50kg</option>
              </select>
               <button class="btn fresh-btn"><span>+
               </span> ADD</button>
          </div>
          
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 fresh">

      <div class="card box-shadow">
        <div class="top-button">
          <button class="btn badge badge-pill">In stock</button>
          <img src="../../assets/images/Icon feather-heart.svg" alt="heart">
        </div>
        <img src="../../assets/images/CHICKEN BONELESS THIGHS FRESH 500g.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Chest</h5>
          <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of chicken.</p>
          <p class="card-price">25BD</p>
          <div class="fresh-dropdown">
            <select >
            <option>25kg</option><option>50kg</option>
            </select>
             <button class="btn fresh-btn"><span>+
             </span> ADD</button>
        </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">

      <div class="card box-shadow">
        <div class="top-button">
          <button class="btn badge badge-pill">In stock</button>
          <img src="../../assets/images/Icon feather-heart.svg" alt="heart">
        </div>
        <img src="../../assets/images/CHICKEN BONELESS THIGHS FRESH 500g.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Chest</h5>
          <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of chicken.</p>
          <p class="card-price">25BD</p>
          <div class="fresh-dropdown">
            <select >
            <option>25kg</option><option>50kg</option>
            </select>
             <button class="btn fresh-btn"><span>+
             </span> ADD</button>
        </div>
        </div>
      </div>
    </div>




  </div>


</div>