<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="mt-2 mb-2">Fresh</p>
      <hr class="hr mb-4">
      <div class="d-flex button-container">
        <button class="btn mb-2 mr-5">All</button>
        <button class="btn mb-2 mr-5">Curry cutd</button>
        <button class="btn mb-2 mr-5">Bonless piece</button>
        <button class="btn mb-2 mr-5">Specality cuts</button>
      </div>
      <hr class="hr mt-4 mb-4">
    </div>

    <div class="col py-3 py-sm-0">

      <div class="card box-shadow">
        <div class="top-button">
          <button class="btn btn-success">In stock</button>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
        <img src="../../assets/images/322.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Curry Cut</h5>
          <p class="card-title">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <p class="card-price">25BD</p>
        </div>
      </div>
    </div>

    <div class="col py-3 py-sm-0">

      <div class="card box-shadow">
        <div class="top-button">
          <button class="btn btn-success">In stock</button>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
        <img src="../../assets/images/322.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Curry Cut</h5>
          <p class="card-title">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <p class="card-price">25BD</p>
        </div>
      </div>
    </div>

    <div class="col py-3 py-sm-0">

      <div class="card box-shadow">
        <div class="top-button">
          <button class="btn btn-success">In stock</button>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
        <img src="../../assets/images/322.jpg" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-text">Chicken Curry Cut</h5>
          <p class="card-title">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <p class="card-price">25BD</p>
        </div>
      </div>
    </div>




  </div>


</div>
