<app-navbar></app-navbar>
<div class="container">
   <div class="row">
     <div class="col-lg-8 col-sm-12 col-md-7 mt-5 size">
       <h5>Lorem Ipsum has been the industry's standard<br> dummy text</h5>
       <p class="pt-3">Lorem Ipsum has been the industry's <br> standard dummy text</p>
       <img src="../../assets/images/Group 49006.png" class="img-fluid" alt="">
   </div>
     <div class="col-lg-4 col-sm-12 col-md-5">
       <div class="box mt-5 mx-auto">
         <h5 class="text-center">Type of Account</h5>
         <p class="text-center"> Lorem Ipsum has been the industry's standard<br> 
           dummy text.</p>
          <div class="btn-select mb-3"> 
            <img src="../../../assets/images/Icon awesome-check-circle.svg"> 
            <p class="ml-2">Normal User</p>
          </div>
          <div class="btn-select mb-3"> 
            <img src="../../../assets/images/Icon awesome-check-circle.svg"> 
            <p>Merchants</p>
          </div>
          <div class="btn-select mb-3"> 
            <img src="../../../assets/images/Icon awesome-check-circle.svg"> 
            <p>Employees</p>
          </div>
          
          <div class="btn btn-block btn-get">GET IN</div>
       </div>
     </div>
   </div>
 </div>



