<div class="container">
    <div class="row">
      <div class="col-md-8">
  
            <h5 class="pt-5 font-weight-bold">Lorem ipsum dolor sit amet, choices are good investments.</h5>
            <p class="text">
              consectetur adipiscing elit. Etiam et purus a odio finibus <br>
              bibendum amet leo.
            </p>
      </div>
      <div class="col-md-4">
        <div class="box mt-5 mx-auto">
          <h5 class="font-weight-bold text-center">Type of Account</h5>
          <p class="text-box text-center"> consectetur adipiscing elit. Etiam et purus a odio finibus <br>
            bibendum amet leo.</p>
           <div class="btn-select mb-3"> <i class="fa fa-check-circle" aria-hidden="true"></i>  Normal User</div>
           <div class="btn-select mb-3"> <i class="fa fa-check-circle" aria-hidden="true"></i>  Merchants</div>
           <div class="btn-select mb-3"> <i class="fa fa-check-circle" aria-hidden="true"></i>  Employees</div>
            
           <div class="btn-get">Get In</div>
        </div>
      </div>
    </div>
  </div>