
img{
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3{
    font-family: var(--font-family);
    font-size: var( --heading-h6);
    font-weight: var(--font-weight-bold);
    color: var(--main-dark-color);
}

p{
    font-family: var(--font-family);
    font-size: var( --para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-one);
}