<app-navbar></app-navbar>

<div class="container">
     <div class="row mb-5 pb-5">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-5 pt-5">
            <img src="../../assets/images/Rectangle-5958.svg" alt="" class="img-fluid">
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-12 mt-5 pt-4 px-3">
            <div>
                <h3>Ingredients</h3>
                <p>Oil - 3 tbsp , Chopped Onion - 2pcs , Ginger Garlic paste -2pcs , Green clli paste - 1 tbsp , Garam Masala- 1.5tbsp , chicken , salt , fresh cream - 1/2 cup</p>
            </div>
            <div>
                <h3>Steps</h3>

                <div class="d-flex align-items-center">
                    <p>01</p>
                    <p class="px-3">Lorem Ipsum has been the inxxdustry's fit standard dummy fit text ever since the 1500s, when princcter took</p>
                </div>

                <div class="d-flex align-items-center">
                    <p>02</p>
                    <p class="px-3">Lorem Ipsum has been the inxxdustry's fit standard dummy fit text ever since the 1500s, when princcter took</p>
                </div>

                <div class="d-flex align-items-center">
                    <p>03</p>
                    <p class="px-3">Lorem Ipsum has been the inxxdustry's fit standard dummy fit text ever since the 1500s, when princcter took</p>
                </div>

                <div class="d-flex align-items-center">
                    <p>04</p>
                    <p class="px-3">Lorem Ipsum has been the inxxdustry's fit standard dummy fit text ever since the 1500s, when princcter took</p>
                </div>

            </div>
        </div>
     </div>
</div>

<app-footer></app-footer>