<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">

            <div class="desc mt-5 text-center">

                <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg" class="img-fluid desc-img">

                <img src="../../assets/images/Icon-feather-heart.svg" class="desc-svg">

            </div>


        </div>

        <div class="col-lg-6 col-md-6">

            <div class="desc-head pt-5">
                <p class="desc-text">Chicken Chest</p>
                <button class="badge badge-pill desc-btn">In Stock</button>
            </div>

            <div class="col desc-box mt-3">
                <div class="desc-cont">
                    <img src="../../assets/images/scale.svg" alt="desc-img" class="img-fluid">
                    <p>500gm</p>
                </div>

                <div class="separator"></div>

                <div class="desc-cont">

                    <img src="../../assets/images/roast-chicken.svg" alt="desc-img" class="img-fluid">
                    <p>No.of.receipes</p>
                </div>

                <div class="separator"></div>
                <div class="desc-cont">
                    <img src="../../assets/images/restaurant.svg" alt="desc-img" class="img-fluid">
                    <p>Receipies : 2-4</p>
                </div>

            </div>

            <div class="mt-3">
                <h5 class="desc-con">Description</h5>
                <p class="desc-cons pt-3">Tender,Boneless fillets of chicken meat cut from the Breats</p>
            </div>

            <div class="mt-4">
                <h5 class="desc-con">Pack Sizes</h5>

                <button class="desc-button">500gm</button>
                <button class="desc-button">1KG</button>
                <button class="desc-button">2KG</button>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-12 desc-btn-box mt-4">
                <div class="text-center">
                    <p class="mt-2"><span>155BD</span> <br> Total Amount</p>
                </div>
                <div class="">
                    <button class="btn">ADD TO CART</button>
                </div>
            </div>


        </div>

    </div>
</div>

<div class="container pt-5 mt-5">

    <div class="desc-title-menu">
        <h3 class="pb-3">Receipies</h3>
    </div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="pb-5 gaps">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Mask-Group-135.png" alt="Card image cap">
                    <div class="card-body c-gap">
                        <h5 class="card-title">Receipies Name</h5>
                        <img src="../../assets/images/ionic-ios-arrow-back.svg">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="pb-5 gaps">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Mask-Group-135.png" alt="Card image cap">
                    <div class="card-body c-gap">
                        <h5 class="card-title">Receipies Name</h5>
                        <img src="../../assets/images/ionic-ios-arrow-back.svg">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="pb-5 gaps">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Mask-Group-135.png" alt="Card image cap">
                    <div class="card-body c-gap">
                        <h5 class="card-title">Receipies Name</h5>
                        <img src="../../assets/images/ionic-ios-arrow-back.svg">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="pb-5 gaps">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Mask-Group-135.png" alt="Card image cap">
                    <div class="card-body c-gap">
                        <h5 class="card-title">Receipies Name</h5>
                        <img src="../../assets/images/ionic-ios-arrow-back.svg">
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="pb-5 gaps">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Mask-Group-135.png" alt="Card image cap">
                    <div class="card-body c-gap">
                        <h5 class="card-title">Receipies Name</h5>
                        <img src="../../assets/images/ionic-ios-arrow-back.svg">
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>


</div>

<app-footer></app-footer>