
.order-three-top{
    background: var(--text-color-two);
}

.order-three-top p{
   font-family: var(--font-family);
   font-size: var( --para-size);
   font-weight: var(--font-weight-regular);
   color: var(--main-dark-color);
}

.order-three h3{
    font-family: var(--font-family);
    font-size: var( --heading-h5);
    font-weight: var(--font-weight-medium);
    color: var(--main-dark-color);
}

.order-three h5{
    font-family: var(--font-family);
    font-size: var( --heading-h6);
    font-weight: var(--font-weight-medium);
    color: var(--main-dark-color);
}

.order-three h2{

    font-family: var(--font-family);
    font-size: var( --para-size);
    font-weight: var(--font-weight-bold);
    color: var(--main-dark-color);
}

.order-three-footer p{
    font-family: var(--font-family);
    font-size: var( --para-size);
    font-weight: var(--font-weight-regular);
    color: var(--main-dark-color);
}

.order-three-footer span{
    font-family: var(--font-family);
    font-size: var( --para-size);
    font-weight: var(--font-weight-medium);
    color: var(--main-dark-color);
}

.order-three-footer h2{
    font-family: var(--font-family);
    font-size: var( --para-size);
    font-weight: var(--font-weight-bold);
    color: var(--main-dark-color);
}


.order-muted p{
    color: var(--text-dark-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-small);
  }






