<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-5">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
           <app-sidebar></app-sidebar>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">

            <div class="edit">
                <h3 class="pb-1">My Order</h3>
                <div class="vertical-line"></div>
                <div class="pb-3"></div>
                <div class="order-three">
                    <div class="order-three-top p-4">
                        <div class="d-flex justify-content-between">
                            <p>Chicken Curry <br>500g</p>
                            <p>45BD</p>
                        </div>
                        <div class="vertical-dotted-line"></div>
                        <div class="d-flex justify-content-between pt-3">
                            <p>Chicken Curry <br>500g</p>
                            <p>45BD</p>
                        </div>
                        <div class="vertical-dotted-line"></div>
                        <div class="d-flex justify-content-between pt-3">
                            <p>Chicken Curry <br>500g</p>
                            <p>45BD</p>
                        </div>
                        
                    </div>
                    <h3 class="pt-3 pb-2">Delivery Address</h3>
                    <div class="order-three-top p-4">
                       
                         <h5>Delivery to home</h5>
                         <div class="order-muted">
                            <p class="order-mute">Near Grand Mosque Bldg 676 Road 4015, PO Box 15412, Manama, 340, Bahrain.</p>
                         </div>
                     
                    </div>
                    <h2 class="pt-3 pb-2">Bill Detail</h2>
                    
                        <div class="order-three-footer p-4">
                            <div class="d-flex justify-content-between">
                                <p>Total Price</p>
                                <span>45BD</span>
                            </div>
                           
                            <div class="d-flex justify-content-between pt-1">
                                <p>Coupon Discount</p>
                                <span></span>
                            </div>
                           
                            <div class="d-flex justify-content-between pt-1">
                                <p>Available Points</p>
                                <span></span>
                            </div>

                            <div class="d-flex justify-content-between pt-1">
                                <p>Delivery Fees</p>
                                <span></span>
                            </div>

                            <div class="d-flex justify-content-between pt-1">
                                <p>VAT</p>
                                <span>5%</span>
                            </div>
                            <div class="vertical-line"></div>

                            <div class="order-three-footer d-flex justify-content-between mt-2 p-2">
                                <h2 class="mt-1">Total Amount</h2>
                                <p><span>567</span></p>
                              </div>
                            
                        </div>
                </div>
                

            </div>
        </div>
    </div>
</div>