<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-5">
        <input type="text" class="col-lg-9 py-3 px-3" placeholder="Search for any Product">
        <img src="../../assets/images/Icon-nav-search-two.svg" alt="">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="mt-5">Recent Searches</h3>
            <div class="d-flex  search">
                <button class="orders-main-btn px-5 py-2 mt-4 mb-3 mr-4">Fresh Chicken</button>
                <button class="orders-main-btn px-5 py-2 mt-4 mb-3 mr-4">Chicken Chest</button>
                <button class="orders-main-btn px-5 py-2 mt-4 mb-3">Chicken Breast-Boneless</button>
            </div>

            <h3 class="mt-5">Trending Products</h3>
            <div class="d-flex  search pb-5">
                <button class="orders-main-btn px-5 py-2 mt-4 mb-3 mr-4">Fresh Chicken</button>
                <button class="orders-main-btn px-5 py-2 mt-4 mb-3 mr-4">Chicken Chest</button>
                <button class="orders-main-btn px-5 py-2 mt-4 mb-3">Chicken Breast-Boneless</button>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>