

input{
    border: 1px solid var(--text-color-one);
    position: relative;
}

img{
    position: absolute;
    top: 160px;
    left: 130px;
}


input::placeholder{
    font-family: var(--font-family);
    font-size: var( --para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-one);
   padding-left: 40px;
}


h3{
    font-family: var(--font-family);
    font-size: var( --heading-h6);
    font-weight: var(--font-weight-bold);
    color: var(--main-dark-color);
}

.orders-main-btn {

    background: var(--main-box-color-two);
    font-family: var(--font-family);
    font-size: var( --para-size);
    font-weight: var(--font-weight-regular);
    color: var(--main-dark-color);
    border: none;
    outline: none;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {
	.search{
        flex: row;
        flex-wrap: wrap;
    }
    
}