
.home h2{

    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 600;
    color: #231F40;
}

.home h5{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #231F40;
}

.home button{
    background: #E31D1A;
    padding: 5px 35px;
    color: #E31D1A;
    border-radius: 15px;
}

.home img{
    width: 800px;
    margin-left: 115px;
}

.categories{
    display: flex;
    margin: auto;
}

.categories-header{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #231F40;
}

.categories-content{
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.categories-content h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #231F40;
}

.categories-content a{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 500;
    background: #FEC939;
    color: #FFFFFF;
    padding: 10px;
}

.categories-content a img{
    width: 15px;
    color: #fff;
    margin-left: 30px;
}

.categories-content img{
    width: 100px;
    object-fit: cover;
}

/*---------------------------------------------------------------------*/


.home-title-menu h3 {

    font-family: var(--font-family);
    font-size: var(--heading-h4);
    font-weight: var(--font-weight-medium);
    color: var(--text-dark-color-one);
}


.home-title-menu p {

    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-dark-color-one);
}


.gaps {
    padding: 0 5px;
}

.home-card img{
    position: relative;
}

.card-offer{
    position: absolute;
    top: 120px;
    left: 25px;
}

.card-offer h3{
    font-family: var(--font-family);
    font-size: var(--heading-h3);
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
}

.card-offer p{
    font-family: var(--font-family) !important;
    font-size: var(--para-size) !important;
    font-weight: var(--font-weight-small) !important;
    color: var(--text-color) !important;
    margin-top: -5px;
}


.home-card p{
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-one);
}

.home-card h5 {
    font-family: var(--font-family);
    font-size: var(--heading-h6);
    font-weight: var(--font-weight-medium);
    color: var(--text-dark-color);
}


.home-card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-card-footer h4{
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-bold);
    color: var(--text-dark-color);
}


.home-card-btn{
    background: var(--main-color);
    border: none;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-small);
    padding: 6px 20px;
    border-radius: 2px;
    margin-top: -20px;
    margin-right: 10px;

}

.home-card-btn img{
   width: 11px;
   font-weight: 600;
   margin-right: 5px;
   margin-top: 6px;
}


.c-gap {
    padding: 20px 20px 8px 20px;
}

.home-card{
    border: none !important;
}

.home-card .card-body{
    box-shadow: 5px 5px 10px #d8d0d0;
}

/*----------------------------------------------------------------------*/

.product-title-menu h3{
    font-family: var(--font-family);
    font-size: var(--heading-h4);
    font-weight: var(--font-weight-bold);
    color: var(--text-dark-color-one);
}



.product .card img{
    width: 100px;
}

.product .card{
    position: relative;
    box-shadow: 5px 10px 10px #e9e2e2;
    border: var(--main-box-color-two);
    margin: 30px;
}

.product .top-button{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product .top-button .desc-btn{
    background: var(--bagde-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-small);
    border: none;
    padding: 5px 11px;
    margin-bottom: 20px;
}

.product .top-button img{
    
    width: 23px;
    margin-top: -30px;

}

select{

    padding: 9px;
    width:40%;
    border-radius: 5px;
    background: var(--main-box-color-four);
    border: none;
    margin: auto;
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-small);
}

.product .fresh-btn{
    background: var(--main-color);
    border: none;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-small);
    padding: 8px 20px;
    border-radius: 2px;
    float: right;

}

.product .fresh-btn img{
   width: 11px;
   margin-right: 5px;
}

.product .card-body h5{
    font-family: var(--font-family);
    font-size: var(--heading-h6);
    font-weight: var(--font-weight-medium);
    color: var(--main-dark-color);
}

.product .card-body p{
    font-family: var(--font-family);
    font-size: var(--small-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-color-one);
}

.product .card-body .card-price{
    color: var(--main-color);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
}

.product .gaps{
    padding: 0px;
}


.product .fresh-btn {
    display: flex;
    align-items: center;
}


/*-----------------------------------------------------------------------*/


@media only screen and (max-width: 767px){
    .categories{
       flex-direction: column;
    }
    .categories-gap{
        padding-top: 30px;
    }
}