<app-navbar></app-navbar>

<div class="container">
   <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mt-5 mb-5 home">
         <h2 class="pb-3">Lorem Ipsum has been<br> the industry's standard <br>dummy text</h2>
         <h5 class="pb-3">Lorem Ipsum has been the industry's <br>standard dummy text</h5>
         <button class="btn btn-md ">Button Add</button>
      </div>
      <div class="col-lg-6 col-md-6">
         <img src="" alt="">
      </div>

   </div>
</div>

<!------------------categories------------------>

<div class="container">
   <div class="row">

      <div class="col-lg-12 text-center pb-5">
         <h5 class="categories-header">Our Category</h5>
      </div>

      <div class="categories pb-5">
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Fresh</h5>
               <a>Click to get <img src="../../assets/images/Icon-feather-arrow-left.svg"></a>
            </div>
            <img src="../../assets/images/Group 49007@2x.png" alt="">
         </div>

         <div class="categories-gap px-3"></div>

         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Frozen</h5>
               <a style="background: #F29428;">Click to get <img src="../../assets/images/Icon-feather-arrow-left.svg">
               </a>
            </div>
            <img src="../../assets/images/Group 49008@2x.png" alt="">
         </div>
      </div>
      <div class="categories pb-5">
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Marinated</h5>
               <a style="background: #7CBDF2">Click to get <img src="../../assets/images/Icon-feather-arrow-left.svg">
               </a>
            </div>
            <img src="../../assets/images/Group 49010@2x.png" alt="">
         </div>
         <div class="categories-gap px-3"></div>
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Category 3</h5>
               <a style="background: #E86C31">Click to get <img src="../../assets/images/Icon-feather-arrow-left.svg">
               </a>
            </div>
            <img src="../../assets/images/Group 49009@2x.png" alt="">
         </div>
      </div>
      <div class="categories pb-5">
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Category 4</h5>
               <a style="background: #F29428">Click to get <img src="../../assets/images/Icon-feather-arrow-left.svg">
               </a>
            </div>
            <img src="../../assets/images/Group 49012@2x.png" alt="">
         </div>
         <div class="categories-gap px-3"></div>
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Basket</h5>
               <a style="background: #E31D1A">Click to get <img src="../../assets/images/Icon-feather-arrow-left.svg">
               </a>
            </div>
            <img src="../../assets/images/Group 49013@2x.png" alt="">
         </div>
      </div>

   </div>
</div>