<app-navbar></app-navbar>

<div class="container">
   <div class="row home">
      <div class="col-lg-4 col-md-6 col-sm-12 mt-5 mb-5 ">
         <h2 class="pb-3">Lorem Ipsum has been<br> the industry's standard <br>dummy text</h2>
         <h5 class="pb-3">Lorem Ipsum has been the industry's <br>standard dummy text</h5>
         <button class="btn btn-md ">Button Add</button>
      </div>
     

   </div>
</div>

<!------------------categories------------------>

<div class="container">
   <div class="row">

      <div class="col-lg-12 text-center pb-5">
         <h5 class="categories-header">Our Category</h5>
      </div>

      <div class="categories pb-5">
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Fresh</h5>
               <a>Click to get <img src="../../assets/images/Icon-feather-arrow-left-white.svg"></a>
            </div>
            <img src="../../assets/images/Group-49007.png" alt="">
         </div>

         <div class="categories-gap px-3"></div>

         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Frozen</h5>
               <a style="background: #F29428;">Click to get <img
                     src="../../assets/images/Icon-feather-arrow-left-white.svg">
               </a>
            </div>
            <img src="../../assets/images/Group-49008.png" alt="">
         </div>
      </div>
      <div class="categories pb-5">
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Marinated</h5>
               <a style="background: #7CBDF2">Click to get <img
                     src="../../assets/images/Icon-feather-arrow-left-white.svg">
               </a>
            </div>
            <img src="../../assets/images/Group-49010.png" alt="">
         </div>
         <div class="categories-gap px-3"></div>
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Category 3</h5>
               <a style="background: #E86C31">Click to get <img
                     src="../../assets/images/Icon-feather-arrow-left-white.svg">
               </a>
            </div>
            <img src="../../assets/images/Group-49009.png" alt="">
         </div>
      </div>
      <div class="categories pb-5">
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Category 4</h5>
               <a style="background: #F29428">Click to get <img
                     src="../../assets/images/Icon-feather-arrow-left-white.svg">
               </a>
            </div>
            <img src="../../assets/images/Group-49012.png" alt="">
         </div>
         <div class="categories-gap px-3"></div>
         <div class="categories-content">
            <div class="pr-5">
               <h5 class="pb-2">Basket</h5>
               <a style="background: #E31D1A">Click to get <img
                     src="../../assets/images/Icon-feather-arrow-left-white.svg">
               </a>
            </div>
            <img src="../../assets/images/Group-49013.png" alt="">
         </div>
      </div>

   </div>
</div>


<div class="container pt-5 mt-5 home-slider">

   <div class="desc-title-menu px-2">
      <h3 class="">Lorem Ipsum</h3>
      <p class="pb-3">Lorem Ipsum has been the industry's standard<br> dummy text</p>

   </div>

   <owl-carousel-o [options]="homeOptions">
      <ng-template carouselSlide>
         <div class="pb-5 gaps">
            <div class="card home-card">
               <img class="card-img-top" src="../../assets/images/Group-49019.png" alt="Card image cap">
               <div class="card-offer">
                  <h3>50 OFF%</h3>
                  <p>Upto 20SAR</p>
               </div>
               <div class="card-body c-gap">
                  <h5 class="card-title">BBQ</h5>
                  <p class="pb-1">Thoroughly cleaned , full Marinated full flavour</p>
                  <div class="home-card-footer">
                     <h4>25BD</h4>
                     <button class="btn fresh-btn d-flex"><img src="../../assets/images/Icon-feather-plus-2.svg"
                           alt="">ADD</button>
                  </div>
               </div>
            </div>
         </div>
      </ng-template>
      <ng-template carouselSlide>
         <div class="pb-5 gaps">
            <div class="card home-card">
               <img class="card-img-top" src="../../assets/images/Group-49019.png" alt="Card image cap">
               <div class="card-offer">
                  <h3>50 OFF%</h3>
                  <p>Upto 20SAR</p>
               </div>
               <div class="card-body c-gap">
                  <h5 class="card-title">BBQ</h5>
                  <p>Thoroughly cleaned , full Marinated full flavour</p>
                  <div class="home-card-footer">
                     <h4>25BD</h4>
                     <button class="btn fresh-btn d-flex"><img src="../../assets/images/Icon-feather-plus-2.svg"
                           alt="">ADD</button>
                  </div>
               </div>
            </div>
         </div>
      </ng-template>
      <ng-template carouselSlide>
         <div class="pb-5 gaps">
            <div class="card home-card">
               <img class="card-img-top" src="../../assets/images/Group-49019.png" alt="Card image cap">
               <div class="card-offer">
                  <h3>50 OFF%</h3>
                  <p>Upto 20SAR</p>
               </div>
               <div class="card-body c-gap">
                  <h5 class="card-title">BBQ</h5>
                  <p>Thoroughly cleaned , full Marinated full flavour</p>
                  <div class="home-card-footer">
                     <h4>25BD</h4>
                     <button class="btn fresh-btn d-flex"><img src="../../assets/images/Icon-feather-plus-2.svg"
                           alt="">ADD</button>
                  </div>
               </div>
            </div>
         </div>
      </ng-template>
      <ng-template carouselSlide>
         <div class="pb-5 gaps">
            <div class="card home-card">
               <img class="card-img-top" src="../../assets/images/Group-49019.png" alt="Card image cap">
               <div class="card-offer">
                  <h3>50 OFF%</h3>
                  <p>Upto 20SAR</p>
               </div>
               <div class="card-body c-gap">
                  <h5 class="card-title">BBQ</h5>
                  <p>Thoroughly cleaned , full Marinated full flavour</p>
                  <div class="home-card-footer">
                     <h4>25BD</h4>
                     <button class="btn fresh-btn d-flex"><img src="../../assets/images/Icon-feather-plus-2.svg"
                           alt="">ADD</button>
                  </div>
               </div>
            </div>
         </div>
      </ng-template>

   </owl-carousel-o>


</div>