<app-navbar></app-navbar>

<div class="container">
    <div class="row mt-5">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-xl-9 col-lg-8  col-md-12 col-sm-12">
            <div class="edit">
                <h3 class="pb-1">Favourites</h3>
                <div class="vertical-line"></div>
                <div class="pb-3"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 fresh gaps">

                        <div class="card box-shadow">
                            <div class="top-button">
                                <button class="badge badge-pill desc-btn">In Stock</button>
                                <img src="../../../assets/images/Icon feather-heart-liked.svg" alt="heart">
                            </div>
                            <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg"
                                class="card-img-top mx-auto" alt="...">

                            <div class="card-body">
                                <h5 class="card-text">Chicken Chest</h5>
                                <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of
                                    chicken.</p>
                                <p class="card-price">25BD</p>
                                <div class="fresh-dropdown">
                                    <select>
                                        <option>25kg</option>
                                        <option>50kg</option>
                                    </select>
                                    <button class="btn fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg"
                                            alt="">ADD</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6  col-md-6 col-sm-12 col-12 fresh gaps">

                        <div class="card box-shadow">
                            <div class="top-button">
                                <button class="badge badge-pill desc-btn">In Stock</button>
                                <img src="../../../assets/images/Icon feather-heart-liked.svg" alt="heart">
                            </div>
                            <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg"
                                class="card-img-top mx-auto" alt="...">

                            <div class="card-body">
                                <h5 class="card-text">Chicken Chest</h5>
                                <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of
                                    chicken.</p>
                                <p class="card-price">25BD</p>
                                <div class="fresh-dropdown">
                                    <select>
                                        <option>25kg</option>
                                        <option>50kg</option>
                                    </select>
                                    <button class="btn fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg"
                                            alt="">ADD</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 gaps">

                        <div class="card box-shadow">
                            <div class="top-button">
                                <button class="badge badge-pill desc-btn">In Stock</button>
                                <img src="../../../assets/images/Icon feather-heart-liked.svg" alt="heart">
                            </div>
                            <img src="../../assets/images/CHICKEN-BONELESS-THIGHS-FRESH-500g.jpg"
                                class="card-img-top mx-auto" alt="...">

                            <div class="card-body">
                                <h5 class="card-text">Chicken Chest</h5>
                                <p class="card-title">A Complementary mix of bone in and <br> boneless chunks of
                                    chicken.</p>
                                <p class="card-price">25BD</p>
                                <div class="fresh-dropdown">
                                    <select>
                                        <option>25kg</option>
                                        <option>50kg</option>
                                    </select>
                                    <button class="btn fresh-btn"><img src="../../assets/images/Icon-feather-plus-2.svg"
                                            alt="">ADD</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>