.cart-border{
    border: 1px solid var(--text-dark-color) !important;
}

.orders-main{
    background: var(--text-color-two);
    padding: 20px;
}

.orders-top{
    background:  var(--text-color-two);
    display: flex;
    justify-content: space-around;
}

.orders-top p{
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-medium);
    color: var(--text-dark-color);
    margin-top: 10px;
}

.orders-top p:hover::after {
    left: 0;
    width: 100%;
  }

.orders-main p{
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-bold);
    color: var(--text-dark-color);
}


.orders-main img{
    width: 8px;
    margin-top: -35px;
}

.orders-main-btn{
    
    color: var(--dash-btn-bg);
    font-family: var(--font-family);
    font-size: var(--para-size);
    font-weight: var(--font-weight-regular);
    background: var(--dash-btn-color);
    border: none;
    outline: none;
    border-radius: 10px;
}