.orders-confirm-top {
    display: flex;
}

.orders-confirm-top p {
    padding-left: 15px;
}

@media only screen and (max-width:1200px) {
    .orders-top {
        padding: 10px;
        flex-flow: wrap;
    }
    .orders-main-top{
        align-items: center;
        justify-content: center;
    }
    .orders-confirm-top {
        flex-direction: column;
    }
    
    .orders-confirm-top p {
        padding-left: 0px;
    }
}


@media only screen and (max-width:992px){
    .orders-main-top{
        display: flex;
        justify-content: space-between;
    }
    .orders-confirm-top {
        flex-direction: row !important;
    }
    .orders-confirm-top p{
        padding-left: 15px !important;
    }
}



@media only screen and (max-width:767px) {
    .orders-top {
        padding: 10px;
        flex-flow: wrap;
    }
    
    .orders-confirm-top{
        flex-direction: column;
        align-items: center;
    }
    
}

@media only screen and (max-width:576px) {

    .orders-main-top {
        flex-direction: column;
        justify-content: center;
    }

    .orders-main p {
        font-family: var(--font-family);
        font-size: var(--small-size);
        font-weight: var(--font-weight-bold);
        color: var(--text-dark-color);
    }

    .order-muted {
        color: var(--text-color-one);
        font-family: var(--font-family);
        font-size: var(--small-size);
        font-weight: var(--font-weight-regular) !important;
        text-align: center;
    }

    .orders-confirm-top{
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
    }

}


